src/main/resources/schema/rfc6120/stream.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://etherx.jabber.org/streams" xmlns:tns="http://etherx.jabber.org/streams"
  elementFormDefault="qualified" attributeFormDefault="unqualified">
  <import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/03/xml.xsd"/>
  <element name="stream"></element>
  <complexType name="streamType">
    <attribute name="from" type="string" />
    <attribute name="to" type="string" />
    <attribute name="id" type="string" />
    <attribute ref="xml:lang" default="en"/>
    <attribute name="version" type="string" default="1.0"/>
  </complexType>
</schema>